@import '@/styles/variables.module.scss';
@import '@/styles/mixins.module.scss';

.controller-wrapper {
	padding: 10px 20px;

	::-webkit-scrollbar {
		display: none;
	}
}

.controller-container {
	display: flex;
	display: inline-flex;
	position: relative;
	flex: 1 1 auto;
	width: 100%;
	overflow: auto;
	white-space: nowrap;
	gap: 4px;
	scroll-behavior: smooth;

	::-webkit-scrollbar {
		display: none;
	}
}

.controller-link {
	min-width: 20px;
	min-height: 20px;
	border-radius: 4px;
	color: #{$black-100};
	text-align: center;
	cursor: pointer;

	@include fontMedium;
}

.select-link {
	@extend .controller-link;

	background-color: #{$black-100};
	color: #{$white};
}
