@use '@/style/mixin' as mix;

.wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.label-container {
	display: flex;
	align-items: center;

	input {
		margin: 4px;
	}

	label {
		@include mix.fontMedium;
	}
}
