$black-100: #000;
$black-80: #333;
$white: #fff;
$gray-100: #575a5e;
$gray-90: #808080;
$gray-80: #c3c9d0;
$gray-70: #d9d9d9;
$gray-60: #ddd;
$gray-40: #eee;
$primary: #a64029;
$correct: #1bcc66;
$accent: #eb4d3d;
$sky: #63c5da;
$button-height: 40px;
$min-device-width: 320px;
$mid-device-width: 520px;
$max-device-width: 720px;
$dropdown-backdrop: 1000;
$dropdown: 1010;
$sticky: 1020;
$fixed: 1030;
$modal-backdrop: 1040;
$offcanvas: 1050;
$modal: 1060;
$popover: 1070;
$tooltip: 1080;

$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;
$font-size-Title: 2.4rem;

$font-color-dark: '#1A1E27';
$font-color-medium: '#505866';
$font-color-light: '#B1B8C0';
