@use '@/style/variables.scss' as v;

@keyframes slide-down {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.wrapper {
	display: flex;
	position: absolute;
	z-index: #{v.$popover};
	top: 0;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	min-width: #{v.$min-device-width};
	max-width: #{v.$max-device-width};
	margin: 16px 0;
	padding: 16px 32px;
	animation: slide-down 1s ease-in-out;
	border-bottom: solid 2px #{v.$gray-80};
	background: #{v.$white-100};
	gap: 12px;
}

.content-wrapper {
	display: flex;
	position: relative;
	justify-content: space-between;
}

.guide-paragraph {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2.2rem;
}

.guide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 2.2rem;
	gap: 4px;
}

.info-button {
	width: 100%;
	height: 30px;
	border-radius: 8px;
	background-color: #{v.$gray-80};
}

.button-wrapper {
	display: flex;
	gap: 16px;
	height: 30px;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 2.2rem;

	:last-child {
		background-color: #{v.$correct};
		color: #{v.$white-100};
	}
}
