@use '../../../style/variables.scss' as v;

.wrapper {
	display: flex;
	position: fixed;
	z-index: #{v.$sticky};
	bottom: 0;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	min-width: #{v.$min-device-width};
	max-width: #{v.$max-device-width};
	height: 60px;
	border-top: 1px solid #{v.$gray-80};
	background-color: #{v.$white-100};
}

.link {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	color: #{v.$gray-100};
}

.nav-icon {
	width: 24px;
	height: 24px;
}
